/* ESTILOS CSS LANDING PAGE */
body{
    background-image: url(https://k43.kn3.net/052D729AC.jpg);
    background-size: cover;
    background-repeat: repeat;
}
.hrLanding {
    border-width: 0.8rem ;
    border-color: gray;
}